html,
body,
* {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.layout {
  padding: 10px;
}

.main-container {
  max-width: 1200px;
  margin: auto;
  width: 100%;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  margin: 6px 18px;
  position: relative;
}

.logo {
  color: gray;
  font-size: 18px;
}

.cart-icon {
  font-size: 25px;
  color: gray;
  cursor: pointer;
  position: relative;
  transition: transform 0.3s ease;
  border: none;
  background-color: transparent;
}

.cart-icon:hover {
  transform: scale(1.1, 1.1);
}

.cart-item-qty {
  position: absolute;
  right: -8px;
  font-size: 12px;
  font-weight: 600;
  color: #eee;
  background-color: #f02d34;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  text-align: center;
}

.hero-banner-container {
  padding: 100px 40px;
  background-color: #dcdcdc;
  border-radius: 15px;
  position: relative;
  height: 500px;
  line-height: 0.9;
  width: 100%;
}

.hero-banner-container .beats-solo {
  font-size: 20px;
}

.hero-banner-container h3 {
  font-size: 4rem;
  margin-top: 10px;
}

.hero-banner-container h1 {
  color: white;
  font-size: 10em;
  margin-left: -20px;
  text-transform: uppercase;
}

.hero-banner-image {
  position: absolute;
  top: 0%;
  right: 20%;
  width: 450px;
  height: 450px;
}

.hero-banner-container button {
  border-radius: 10px;
  padding: 10px 25px;
  background-color: #f02d34;
  color: white;
  border: none;
  margin-top: 40px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  z-index: 1000 !important;
}

.desc {
  position: absolute;
  right: 10%;
  bottom: 5%;
  width: 300px;
  line-height: 1.3;
  display: flex;
  flex-direction: column;
  color: #324d67;
}

.desc p {
  color: #5f5f5f;
  font-weight: 100;
  text-align: end;
}

.desc h5 {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 16px;
  align-self: flex-end;
}

.products-heading {
  text-align: center;
  color: #324d67;
  margin: 40px 0px;
}

.product-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
  width: 100%;
}

.product-card {
  cursor: pointer;
  transform: scale(1, 1);
  transition: transform 0.3s ease;
  color: #324d67;
}

.product-card:hover {
  transform: scale(1.1, 1.1);
}

.product-image {
  border-radius: 15px;
  background-color: #ebebeb;
  transform: scale(1, 1);
  transition: transform 0.3s ease;
}

.product-name {
  font-weight: 500;
}

.product-price {
  font-weight: 700;
  margin-top: 6px;
  color: black;
}

.product-detail-container {
  display: flex;
  gap: 40px;
  margin: 40px;
  margin-top: 60px;
  color: #324d67;
}

/* .image-container {

} */

.product-detail-desc h4 {
  margin-top: 10px;
}

.product-detail-desc p {
  margin-top: 10px;
}

.product-detail-image {
  border-radius: 15px;
  background-color: #ebebeb;
  width: 400px;
  height: 400px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.product-detail-image:hover {
  background-color: #f02d34;
}

.small-images-container {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.small-image {
  border-radius: 8px;
  background-color: #ebebeb;
  width: 70px;
  height: 70px;
  cursor: pointer;
}

.selected-image {
  background-color: #f02d34;
  border: 2px solid grey;
}

.reviews {
  color: #f02d34;
  margin-top: 10px;
  display: flex;
  gap: 5px;
  align-items: center;
}

.reviews p {
  color: #324d67;
  margin-top: 0px;
}

.product-detail-desc .price {
  font-weight: 700;
  font-size: 26px;
  margin-top: 30px;
  color: #f02d34;
}

.product-detail-desc .quantity {
  display: flex;
  gap: 20px;
  margin-top: 10px;
  align-items: center;
}

.quantity-desc {
  border: 1px solid gray;
  padding: 6px;
  border-radius: 5px;
}
.quantity-desc span {
  font-size: 16px;
  padding: 6px 12px;
  cursor: pointer;
}

.quantity-desc .minus {
  color: #f02d34;
}

.quantity-desc .num {
  border-right: 1px solid gray;
  border-left: 1px solid gray;
  font-size: 20px;
}

.quantity-desc .plus {
  color: rgb(49, 168, 49);
}

.product-detail-desc .buttons {
  display: flex;
  gap: 30px;
}

.buttons .add-to-cart {
  padding: 10px 20px;
  border: 1px solid #f02d34;
  margin-top: 40px;
  font-size: 18px;
  font-weight: 500;
  background-color: white;
  color: #f02d34;
  cursor: pointer;
  width: 200px;
  transform: scale(1, 1);
  transition: transform 0.3s ease;
}

.buttons .add-to-cart:hover {
  transform: scale(1.1, 1.1);
}

.buttons .buy-now {
  padding: 10px 20px;
  width: 200px;
  margin-top: 40px;
  font-size: 18px;
  font-weight: 500;
  background-color: #f02d34;
  color: white;
  border: none;
  cursor: pointer;
  transform: scale(1, 1);
  transition: transform 0.5s ease;
}

.buttons .buy-now:hover {
  transform: scale(1.1, 1.1);
}

.maylike-products-wrapper {
  margin-top: 120px;
}

.maylike-products-wrapper h2 {
  text-align: center;
  margin: 50px;
  color: #324d67;
  font-size: 28px;
}

.maylike-products-container {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
}

.marquee {
  position: relative;
  height: 400px;
  width: 100%;
  overflow-x: hidden;
}

.track {
  position: absolute;
  width: 180%;
  white-space: nowrap;
  will-change: transform;
  animation: marquee 15s linear infinite;
}

.track:hover {
  animation-play-state: paused;
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.footer-banner-container {
  padding: 100px 40px;
  background-color: #f02d34;
  border-radius: 15px;
  position: relative;
  height: 400px;
  line-height: 1;
  color: white;
  width: 100%;
  margin-top: 120px;
}

.banner-desc {
  display: flex;
  justify-content: space-between;
}

.banner-desc button {
  border-radius: 10px;
  padding: 10px 20px;
  background-color: white;
  color: red;
  border: none;
  margin-top: 40px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}

.banner-desc .left h3 {
  font-weight: 900;
  font-size: 80px;
  margin-left: 25px;
}

.banner-desc .left p {
  margin: 18px;
}

.footer-banner-image {
  position: absolute;
  /* top: -35%;
  left: 8%; */
  top: -25%;
  left: 25%;
}

.banner-desc .right {
  line-height: 1.4;
}

.banner-desc .right h3 {
  font-weight: 800;
  font-size: 60px;
}

.banner-desc .right p {
  font-size: 18px;
}

.footer-container {
  color: #324d67;
  text-align: center;
  margin-top: 20px;
  padding: 30px 10px;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  justify-content: center;
}

.footer-container .icons {
  font-size: 30px;
  display: flex;
  gap: 10px;
}
